* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
:root {
    --background-image: url('{{ url_for('auth.static', filename='bg-webapp.png') }}');
}

.background {
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0%;
    height: 100vh;
}

    #sbutton:hover  {
    background-color: #c1e826fe;
    color:black;          
    }

    #sbutton {
    background-color: #2DEF0E;
    text-decoration: none;
    height: 8%;
    text-align: center;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-top: 3%;
    }

    a.c:hover, a.c:active, a.c:visited {
        background-color: transparent;
        color:black;
        
     }
    a.c:link {
        color: #000000;
        text-decoration: none;
    }
    p.a{
        text-indent: 10%;
        position: absolute;
        width: 80%;
        left: 9%;
        top: 170px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 130%;
        line-height: 29px;
        text-align: justify;
        letter-spacing: -0.015em;
        color: #000000;

     }

    .nav.nav-pills.nav-fill .nav-item {
        margin-right: 80px; /* Adjust the right margin as needed to control the gap between items */
    }

    img.qr-code-size {
        width: 100px;
        height: 100px;
    }

    #rect{
        position: static;
        width: auto;
        height: 100px;
        background: linear-gradient(180deg, #87DE31 0%, rgba(228, 246, 16, 0.4) 93.79%);
    }
    #rect1{
        position: relative;
        padding-top:25px;
        width: 100%;
        height: 60px;
        background: #F2F0BB;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-top: 2%;
        z-index: 1;
        }
    #rect2, .rect2{
        position: absolute;
        display: center;
        width: 100%;
        height: 550px;
        background: #9F9D83;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 50%;
        left: -0%;

    }
    #rect2-1, .rect2-1{
        position: absolute;
        display: center;
        width: 100%;
        height: 550px;
        background: #9F9D83;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 4%;
        left: -0%;

    }

    #rect2-2, .rect2-2{
        position: absolute;
        display: center;
        text-align: center;
        width: 100%;
        height: 1200px;
        background: #9F9D83;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 4%;
        left: -0%;

    }

    #rect2-3, .rect2-3{
        position: absolute;
        display: center;
        text-align: center;
        width: 100%;
        height: 800px;
        background: #9F9D83;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 4%;
        left: -0%;

    }

    #rect2-4, .rect2-4{
        position: absolute;
        display: center;
        text-align: center;
        width: 100%;
        height: 800px;
        background: #9F9D83;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 4%;
        left: -0%;

    }

    #rect2-5, .rect2-5{
        position: absolute;
        display: center;
        text-align: center;
        width: 100%;
        height: 800px;
        background: #9F9D83;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 4%;
        left: -0%;

    }

    #rect2-6, .rect2-6{
        position: absolute;
        display: center;
        text-align: center;
        width: 100%;
        height: 800px;
        background: #9F9D83;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 4%;
        left: -0%;

    }

    #rect2-7, .rect2-7{
        position: absolute;
        display: center;
        text-align: center;
        width: 100%;
        height: 800px;
        background: #9F9D83;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 4%;
        left: -0%;

    }

    #rect2-8, .rect2-8{
        position: absolute;
        display: center;
        text-align: center;
        width: 100%;
        height: 800px;
        background: #9F9D83;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 4%;
        left: -0%;

    }

    #rect2-9, .rect2-9{
        position: absolute;
        display: center;
        text-align: center;
        width: 100%;
        height: 600px;
        background: #9F9D83;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 4%;
        left: -0%;

    }

    #rect2-10, .rect2-10{
        position: absolute;
        display: center;
        text-align: center;
        width: 100%;
        height: 800px;
        background: #9F9D83;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 5%;
        left: -0%;

    }

    .rect3{
        position: absolute;
        width: 90%;
        height: 490px;
        left: 5%;
        margin-top: 20px;
        display:block;
    
        background: #f9f7b2;
    }
    #rect4{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        margin-top: 6%;
        background: #F2F0BB;
        overflow: auto;
    }
    #rect4-1{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        margin-top: 3%;
        background: #F2F0BB;
        overflow: auto;
    }

    #rect4-2{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        margin-top: 3.4%;
        background: #F2F0BB;
        overflow: auto;
    }
    #rect4-5{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        margin-top: 4%;
        background: #F2F0BB;
        overflow: auto
    }
    #rect4-6{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        margin-top: 4%;
        background: #F2F0BB;
        overflow: auto
    }

    #dd-group{
        margin-top: 15%;
        margin-left:-120px;
    }

    #rect5{

        background: #F2F0BB;
        border-radius: 15px;
        
    }

    .qrbox {
        text-align: center;
        padding: 20px;

    }

    .pos{
        

        padding: 10%;
        margin-top: 10%;


    }

    .rect-prof{
        position: absolute;
        width: 797px;
        height: 589px;
        text-align: center;
        left: 23%;
        top: 15%;
        background: #F2F0BB;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

    }

    .insert-form{
        margin-top: 5%;
        margin-left: 0%;
        height:100px;
    }

    .head{
        position: absolute;
        width: 245px;
        height: 33px;
        left: 50px;
        margin-top: -60px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        z-index: 1;
        color: #000000;

        }
    .head1{
        position: relative;
        top: 60px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #000000;
    }

    .h-insert{
        position: absolute;
        width: 245px;
        height: 33px;
        left: 50px;
        margin-top: 3%;
        margin-left: 37%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        z-index: 1;
        color: #000000;
    }
            
    a.nbutton{
        font-family: 'Montserrat';
        position: relative;
        width: 25%;
        height: 25px;
        margin-left: 9%;
        left: 15px;
        text-align: center;
        padding: 8px 25px;
        background-color: #B7FFB0;
        top: -3px;
        text-decoration: none;
        }
    
    .n1button{
        text-decoration: none;
    }
    .select-box {
        float: right;
        z-index: 1;
        transform: translateX(-70%);
        
    }



    .dropdown-menu {
        background-color: #8CDF34;
    }

    .dropdown-item:hover {
        background-color: #54871d;
        transition: 0.5s ease;
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        z-index: 1000;
        border: 2px solid black
        
      }

    .table-responsive-lg{
        margin-top: 2%;
        padding: 1%;
    }
    table {
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
    }
      
    table tr td, table tr th {
        text-align: center;
        padding: 10px;
        border: 1px solid black;
        background-color: rgb(110, 202, 115) !important;
    } 
    th {
        position: sticky;
        background-color: rgb(48, 69, 49) !important;
        top: 0;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      
      tr:first-child th:first-child {
        border-top-left-radius: 10px;
      }
      tr:first-child th:last-child {
        border-top-right-radius: 10px;
      }
      tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
      }
      tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
      }



    #inventory {
        background-color: #B7FFB0; 
        font-family: 'Montserrat';
        position: relative;
        width: 8px;
        height: 25px;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 6px;
        text-align: center;
        padding: 0px;
        text-decoration: none;
        color: #000000;  
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);      
    }     
    
    #search_query {
        position: absolute;
        margin-top: 1.4%;
        margin-left: 2%;
        width: 17%;
        
    }

    #search_query1 {
        position: absolute;
        margin-top: 2%;
        margin-left: -5%;
        width: 20%;
        
    }
    #search_query2 {
        position: absolute;
        margin-top: -2%;
        margin-left: -5%;
        width: 20%;
        
    }
    #search_query3 {
        position: absolute;
        margin-top: -2%;
        margin-left: -5%;
        width: 20%;
        
    }
    #search_query4 {
        position: absolute;
        margin-top: -2%;
        margin-left: 0%;
        width: 20%;
        
    }
    #search_query5 {
        position: absolute;
        margin-top: 2%;
        margin-left: 0%;
        width: 20%;
        
    }
    #search_query6 {
        
        position: absolute;
        margin-top: 2%;
        margin-left: 0%;
        width: 20%;
        
    }
    #search_query7 {
        position: absolute;
        margin-top: 2%;
        margin-left: 0%;
        width: 20%;
        
    }

    #catalo {
        margin-top: 10%;
        margin-left: -25%;
        font-style: 'Montserrat';
        font-size: 20px;
    }

    #insert {
        background-color: #B7FFB0; 
        font-family: 'Montserrat';
        position: relative;
        width: 8px;
        height: 25px;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 6px;
        text-align: center;
        text-align: center;
        padding: 0px;
        text-decoration: none;
        color: #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

    #shelves1 {
        margin-top: 10%;
        margin-left: 25%;
        font-style: 'Montserrat';
        font-size: 20px;
        
    }

    

    #admin_usr{
        width: 41%;
        margin-left: 30%;
    }
    

    #isbn{
        margin-top: 1%;
        width: 41%;
        margin-left: 30%;
        margin-bottom: 2%;

    }

    #title {
        width: 41%;
        margin-left: 30%;
     }
 
     #year1 {
        width: 41%;
        margin-left: 30%;
     }
     
     #publisher {
        width: 41%;
        margin-left: 30%;
     }

     #form-insert{
        display: center;
        margin-top: 7%;
     }
     
     p.row{
        margin-top: -78px;
        margin-left: 61%;
        font-style: 'Montserrat';
        font-size: 20px;
        text-align: center;
    }

     p.cats{
        margin-top: -78px;
        margin-left: 120px;
        font-style: 'Montserrat';
        font-size: 20px;
        text-align: center;
    }
    .shelf{
        position:absolute;
        top: 623px;
        left: 30%;
        font-style: 'Montserrat';
        font-size: 20px;

    
    }

    #cate_id{
        position: relative;
        right:10%
    }

    #cate_l{
        position: relative;
        right:10%;
    }

    #shelf_id {
        position:relative;
    }

    .shelf_label {
        position:relative;
    }
    
    #shelves, #shelves:hover{
        position: absolute;
        background-color: #B7FFB0;
        font-size: 100%;
        width: 8%;
        max-height:250px;
        left:30%;
        top: 650px;
        color: #000000;
        
            
    }

    #cate, #cate:hover{
        background-color: #B7FFB0;
        font-size: 100%;
        width: 18%;
        max-height:250px;
        margin-left: 50%;
        margin-top: -40px;
        color: #000000;
        overflow: auto;  
    }


    .buttons{
        position: absolute;
        margin-top: 10%;
    }

    #row, #row:hover{
        background-color: #B7FFB0;
        font-size: 100%;
        width: 8%;
        max-height:250px;
        margin-left:70%;
        margin-top: -62px;
        color: #000000;
        overflow: auto;
        
            
    }
    .row{
        position: absolute;
        top:700px;
        left:4%;
    }

    select {
        max-height: 100px; /* Adjust this value based on your preference */
        overflow-y: auto;
    }

    #cata, #cata:hover{
        background-color: #B7FFB0;
        font-size: 100%;
        max-height: 13em;
        overflow: auto;
        width: 10%;
        margin-left: 50%;
        margin-top: -30px;
        color: #000000;
    }

    #catalogue {
        font-size: 18px;
        background-color: #B7FFB0;
    }

    #catalogue:hover{
        background-color: #c1e826fe;
    }

    #shelf1 {
        font-size: 18px;
        background-color: #B7FFB0;
    }

    #shelf1:hover{
        background-color: #c1e826fe;
    }
    .qr-code-size {
        width: 30px; 
        height: 30px; 
    }

    table tr td, table tr {
        background-color: rgb(255, 255, 255, 0) !important;
        text-align: center;
    }
    th {
        position: sticky;
        background-color: rgb(255, 255, 255) !important;
        top: 0;
        text-align: center;
    }
    ul.flashes {
        list-style: none;
        padding: 100;
    }

    .flash.success {
        color: green;
    }

    .flash.error {
        color: red;
    }
    .qr-code-size {
        width: 30px; 
        height: 30px; 
    }