#rect5{
    position: absolute;
    width: 95%;
    height: 600px;
    left: 9%;
    top: 9%;
    background: #F2F0BB;
    border-radius: 15px;
}
.head{
    position: relative;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat';
    letter-spacing: -0.015em;
    font-weight: 400;
    padding-top: 45px;
    transform: translateY(-25%);
    line-height: 44px;
    }
#Back {
    background-color: transparent; 
    font-family: 'Montserrat';
    position: relative;
    width: 5%;
    height: 25px;
    margin-left: 95%;
    margin-right: 5%;
    margin-bottom: -6%;
    margin-top: -17%;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    color: #000000;      
}     
.bx-arrow-back{
    color: #000000;
    font-size: 35px;
}
.input-group {
    position: relative;
    margin-top: 1%;
}
.usrname__input{
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 1px solid #000000;
    background-color: white;
    transition: outline-color 250ms;
}
.usrname__input:focus{
    outline-color: #8de58d;
}
.usrname__label{
    position: absolute;
    top: 5px;
    bottom: 0;
    right: 66%;
    transform: translate(10px, 10px);
    transform-origin: left;
    color: #000000;
    transition: transform 200ms;
    font-size: 20px;
    z-index: 10000000 !important;
}
.usrname__input:focus + .usrname__label,
.usrname__input:valid + .usrname__label {
    transform: translate(0, -30px) scale(0.8);
}
.input-group1 {
    position: relative;
    margin-top: 1%;
}
.password__input1{
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 1px solid #000000;
    background-color: white;
    transition: outline-color 250ms;
}
.password__input1:focus{
    outline-color: #8de58d;
}
.password__label1{
    position: absolute;
    top: 5px;
    bottom: 0;
    right: 60%;
    transform: translate(10px, 10px);
    transform-origin: left;
    color: #000000;
    transition: transform 200ms;
    font-size: 20px;
}
.password__input1:focus + .password__label1,
.password__input1:valid + .password__label1 {
    transform: translate(0, -30px) scale(0.8);
}
.input-group2 {
    position: relative;
    margin-top: 1%;
}
.comfpass__input2{
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 1px solid #000000;
    background-color: white;
    transition: outline-color 250ms;
}
.comfpass__input2:focus{
    outline-color: #8de58d;
}
.comfpass__label2{
    position: absolute;
    top: 5px;
    bottom: 0;
    right: 57%;
    transform: translate(10px, 10px);
    transform-origin: left;
    color: #000000;
    transition: transform 200ms;
    font-size: 20px;
}
.comfpass__input2:focus + .comfpass__label2,
.comfpass__input2:valid + .comfpass__label2 {
    transform: translate(0, -30px) scale(0.8);
}
#usrname {
    width: 41%;
    margin-left: 30%;
 }

 #password {
     width: 41%;
     margin-left: 30%;
 }
 
 #comfpass {
     width: 41%;
     margin-left: 30%;
     margin-bottom: 05%;
 }

#sbutton:hover  {
background-color: #c1e826fe;
color:black;          
}

#sbutton {
background-color: #2DEF0E;
text-decoration: none;
width: 200px;
height: 50px;
text-align: center;
border-radius: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
top: 30%;
margin-top: 3px;
margin-left: 44%;
}
#sbutton:active {
background-color: transparent;
color:black;

}