@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

#newnb{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size:x-large;
}