{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('auth.reset_pass') }}" class="rect2-12">
<body>
    <div class="center2" id="rect6">
      <h1>Reset Password</h1>
      <h2>Enter your email</h2>
        <div class="txt_field1">
          <input type="email" name="l_email" autocomplete="off" required>
          <span></span>
          <label>Email</label>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="send1"><button  type="submit" >Send</button>
        </div>
    </div>
  </body>
 </form>

{% endblock %}