{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

<body>
    <div class="center5">
      <h1>Forgot Password</h1>
      <h2>Set a new password</h2>
      <form method="post" id="login-form">
        <div class="txt_field" name=" l_eemail">
          <input type="text" required>
          <span></span>
          <label>Email</label>
        </div>
 
        <div><input class="send" type="submit" value="Send"></div>
      
      </form>
    </div>

  </body>

{% endblock %}