    {% extends "base.html" %}
    {% block title %}Insert{% endblock %}
    {% block content %}
        <form method="POST" action="/insert" id="insert-form">
            <div class="container" id="rect5">
                <h1 class="head">Insert a Book</h1>
                <div class="form-group">
                    <div class="input-group">
                        <input id="title" type="text" class="input-group__input" name="b_title" autocomplete="off" required/>
                        <label for="title" class="input-group__label">Title</label>
                    </div>
                    <div class="input-group1">
                        <input id="year1" type="text" class="input-group__input1" name="b_year" autocomplete="off" required/>
                        <label for="year1" class="input-group__label1">Year Published</label>
                    </div>
                    <div class="input-group2">
                        <input id="publisher" type="text" class="input-group__input2" name="b_publisher" autocomplete="off" required/>
                        <label for="publisher" class="input-group__label2">Publisher</label>     
                    </div>
                    <div class="input-group3">
                        <input id="isbn" type="text" class="input-group__input3" name="isbn" autocomplete="off" required/>
                        <label for="isbn" class="input-group__label3">ISBN</label>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </div>

                <div class="form-group">
                    <p class="shelf">Shelf:</p>
                    <label for="shelves"></label>
                    <select size="1"class="form-select" name="b_shelves" id="shelves">
                        {% for s in shelf %}
                            <option value="{{s[1]}}">{{s[0]}}</option>
                        {% endfor %}
                    </select>
                    
                    
                    <p class="cats">Category:</p>
                    <label for="cate"></label>
                    <select class="form-select" name="b_cate" id="cate">                 
                        {% for c in category_name %}    
                        <option value="{{c[1]}}">{{c[1]}}</option>
                        {% endfor %}
                    </select>

                    <p class="cats">Row:</p>
                    <label for="cate"></label>
                    <select class="form-select" name="num_row" id="cate">                 
                        {% for n in b_rows %}    
                        <option value="{{n[1]}}">{{n[1]}}</option>
                        {% endfor %}
                    </select>
                    
                    
                </div>
                <br/>
                <button type="submit" class="btn btn-success" >Submit</button>
                
                <div class="qrbox">
                    <div class="form-group" id="qcode">
                        <img src="" alt="QR Code" id="qrImage">
                    </div>
                    <div>
                        <button type="button" class="btn btn-secondary" id="xsmall">Extra small</button>
                        <button type="button" class="btn btn-secondary" id="small">Small</button>
                        <button type="button" class="btn btn-secondary" id="medium">Medium</button>
                        <button type="button" class="btn btn-secondary" id="large">Large</button>
                        <button type="button" class="btn btn-success" id="downloadBtn">Download</button>
                    </div>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="{{ url_for('auth.static', filename='insert.js') }}"></script>

    {% endblock %}



