{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block content %}
<div id="rect2-3">
    <div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search_query"
            name="search_query" autocomplete="off">
    </div>
    <form id="inventory-form">
        <div class="select-box" style="width:10%">
            <label class="row_label"> Row: </label>
            <select class="form-select" id="row_id" name="row_id">
                <option value="none" selected>Select Row</option>
                <option value="all">All</option>
                {% for s in shelf_num %}
                    <option value="{{s[1]}}">{{s[0]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="select-box" style="width:10%">
            <label for="cate_l" id="cate_l"> Category: </label>
            <select class="form-select" id="cate_id" name="cate_id" disabled>
                <option value="all" selected>All</option>
                {% for c in category_name %}
                    <option value="{{c[1]}}">{{c[1]}}</option>
                {% endfor %}
            </select>
        </div>



        <div class="selected-shelf" hidden>
            <p>Selected Shelf: <span id="selected-shelf-value"></span></p>
            <p>Selected Category: <span id="selected-category-value"></span></p>
        </div>
        <div id="rect4" class="table-responsive-lg">
            <table class="table table-hover table-sm table-borderless align-middle">
                <thead>
                    <tr>
                        <th>QR Code</th>
                        <th>Category</th>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Year Published</th>
                        <th>Availability of Books</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% for book_data in data %}
                        <tr class="qr-row" data-toggle="modal" data-qr-code="{{ url_for('auth.static', filename='qr_codes/' + book_data.book_loc) }}">

                            <td>
                                <img src="{{ url_for('auth.qr_codes', image_id=book_data.book_loc) }}" alt="QR Code" class="qr-code-size" id="qr-code-img-{{ book_data.book_loc }}">
                            </td>
                            <td>{{ book_data.category }}</td>
                            <td>{{ book_data.isbn }}</td>
                            <td>{{ book_data.title }}</td>
                            <td>{{ book_data.publisher }}</td>
                            <td>{{ book_data.year_published }}</td>
                            {% if selected_shelf_value not in ['shelf01', 'shelf02', 'shelf03', 'shelf04', 'shelf05', 'shelf06', 'shelf07', 'shelf08', 'shelf09', 'shelf10', 'shelf11', 'shelf12', 'shelf13', 'shelf14', 'shelf15'] %}
                                <td>{{ book_data.quantity }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>
<script type="text/javascript" src="{{ url_for('auth.static', filename='inventory.js') }}"></script>

{% endblock %}

