{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block content %}

<form id="inventory-form">
    <div class="select-box" style="width:10%">
        <label for="shelf_id"> Shelf: </label>
        <select class="form-select" id="shelf_id" name="shelf_id">
            <option value="none" selected>Select shelf</option>
            <option value="all">All</option>
            {% for s in shelf_num %}
                <option value="{{s[1]}}">{{s[0]}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="select-box" style="width:10%">
        <label for="catalog"> Category: </label>
        <select class="form-select" id="catalog" name="catalog" disabled>
            <option value="all" selected>All</option>
            {% for c in category_name %}
                <option value="{{c[1]}}">{{c[1]}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search_query"
            name="search_query" autocomplete="off">
    </div>

    <div class="selected-shelf" hidden>
        <p>Selected Shelf: <span id="selected-shelf-value"></span></p>
        <p>Selected Category: <span id="selected-category-value"></span></p>
    </div>
    <div id="rect4" class="table-responsive-lg">
        <table class="table table-hover table-sm table-borderless align-middle">
            <thead>
                <tr>
                    <th>QR Code</th>
                    <th>Category</th>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Publisher</th>
                    <th>Year Published</th>
                    <th>Quantity</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for book_data in data %}
                    <tr class="qr-row" data-toggle="modal" data-qr-code="/qr_codes/{{ book_data.book_id }}">
                        <td>
                            <img src="" alt="QR Code" class="qr-code-size" id="qr-code-img-{{ book_data.book_id }}">
                        </td>
                        <td>{{ book_data.category }}</td>
                        <td>{{ book_data.isbn }}</td>
                        <td>{{ book_data.title }}</td>
                        <td>{{ book_data.publisher }}</td>
                        <td>{{ book_data.year_published }}</td>
                        <td>{{ book_data.quantity }}</td>
                        <td>{{ book_data.availability }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>

<script type="text/javascript" src="{{ url_for('auth.static', filename='inventory.js') }}"></script>

{% endblock %}

