{% extends "base.html" %} {% block title %}Reset{% endblock %}
{% block content %}
<form action="{{ url_for('auth.reset_token', token=token) }}" method="POST" class="rect2-14">
<div class="center4" id="rect9">
    <h1>Reset Password</h1>
    <h2>Enter a new password</h2>
        <div class="txt_field1">
            <input type="password" id="password" name="password" required>
            <span></span>
            <label>New Password:</label>
        </div>
        <div class="txt_field1">
            <input type="password" id="confirm_password" name="confirm_password" required>
            <span></span>
            <label>Confirm New Password:</label>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </div>
        <div class="send3"><button type="submit">Reset Password</button></div>
    </form>
</div>
{% endblock %}