{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css"  href="create_brrwr.css">
 <form method="post" id="signup-form" action="{{ url_for('auth.create_borrower') }}" class="rect2-11">
    <div class="container" id=rect5>
      <h1 class="header3">Create Account for Borrower</h1>
        <div class="txt_field3" >
          <input type="text" name="l_ffname" autocomplete="off" required>
          <span></span>
          <label>First Name</label>
        </div>
        <div class="txt_field3" >
            <input type="text" name="l_llname" autocomplete="off" required>
            <span></span>
            <label>Last Name</label>
        </div>
        <div class="txt_field3" >
          <input type="email" name="emailll" autocomplete="off" required>
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field3" >
            <input type="tel" name="l_contact" pattern="[0]{1}[9]{1}[0-9]{9}" required>
            <span></span>
            <label>Mobile Number<small class="small">(Format: 09*********)</small></label>

        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">


        <div class="create3"><button  type="submit">Create</div>
    </div>

</form>
{% endblock %}