{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}

        <form method="POST" action="{{ url_for('auth.login') }}" id="signin-form" class="rect2">
          <div class="center" id="rect2-15">
             <h1>Sign In</h1>
             {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class="flashes">
                      {% for message in messages %}
                        <li>{{ message }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
             <div class="txt_field">
                 <input type="text" name="usr_name" autocomplete="off" required/>
                 <span></span>
                 <label for="admin_usr">User Name:</label>
             </div>
             <div class="txt_field">
                 <input type="password" name="usr_pass" required/>
                 <span></span>
                 <label for="usr_pass">Password:</label>
             </div>
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
             <a class="pass"href ="/forgot_pass"></a>
             <div class="create4"><button type="submit" value="Login">Login</div>
          </div>
        </form>

{% endblock %}
